# Creating Decision Rule Systems

In [1]:
import pandas as pd
from helper_functions import DecisionRuleCreatorFromDecisionTable

In [2]:
DecisionTable = pd.read_csv("./Datasets/UCI ML Datasets/car_evaluation.csv", header=None)

# DecisionTable.columns = ["top-left-square", "top-middle-square", "top-right-square", "middle-left-square", "middle-middle-square", "middle-right-square", "bottom-left-square", "bottom-middle-square", "bottom-right-square", "class"] # for tic-tac-toe dataset 

DecisionTable.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"] # fro car_evaluation dataset

In [3]:
DecisionTable

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [4]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████| 1728/1728 [00:03<00:00, 479.40it/s]

In [5]:
DecisionRule

     buying maint  doors persons lug_boot safety  class
0       NaN   NaN    NaN       2      NaN    NaN  unacc
1       NaN   NaN    NaN       2      NaN    NaN  unacc
2       NaN   NaN    NaN       2      NaN    NaN  unacc
3       NaN   NaN    NaN       2      NaN    NaN  unacc
4       NaN   NaN    NaN       2      NaN    NaN  unacc
...     ...   ...    ...     ...      ...    ...    ...
1723    low   NaN  5more     NaN      NaN    med   good
1724    low   NaN    NaN     NaN      NaN   high  vgood
1725    NaN   NaN    NaN     NaN      NaN    low  unacc
1726    low   NaN  5more     NaN      NaN    med   good
1727    low   NaN    NaN     NaN      big    NaN  vgood

[1728 rows x 7 columns]

In [6]:
DecisionRule.to_csv('./Datasets/Decision Rule Systems/DRS_car_evaluation', index=False)

# Example

In [ ]:
example_DTable = pd.DataFrame(
[[1,1,1,1],
[0,1,0,2],
[1,1,0,2],
[0,0,1,3],
[1,0,0,3]],
columns=['f1','f2','f3','class']
)
example_DTable

In [ ]:
example_DRules = DecisionRuleCreatorFromDecisionTable(example_DTable)
example_DRules

In [ ]:
# example_DRules.to_csv('./Datasets/example_DRules.csv', index=False)